<div class="">
    <a class="flex items-center gap-1 w-fit">
        <ion-icon name="person-circle-outline" class="w-6 h-6"></ion-icon>
        <span class="hidden md:flex">{{username.usr_nome}} - {{username.usr_cargo}}</span>
    </a>

</div>