<a href="/suporte">
  <img src="../img/central-de-atendimento.png" id="logoSuporte">
</a>
<div class="aside-menu">
    <div class="logo">
      <a target="_blank" href="home.html">
        <img height="150px" width="150px" src="../img/logo-inventario.png">
      </a>
    </div>
    <hr class="line">
    <div class="nav">
      <ul>
        <li><a href="home">PAINEL</a></li>
        <li><a href="itens">LISTAGEM DE BENS</a></li>
        <li><a href="fornecedores">FORNECEDORES</a></li>

        <!-- a opção editar perfil ainda não funciona, passará
                      a funcionar quando implementar a sessão do usuário logado -->
        <li><a href="editarPermissoes">EDITAR PERMISSOES</a></li>

        <li><a href="/logout">SAIR</a></li>
      </ul>
    </div>
  </div>
