<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Suporte</title>
    <base href="/">
    <link rel="shortcut icon" href="img/box.png" type="image/x-icon">
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body class="bg-gray-100">
<div class="flex flex-col flex-wrap mx-auto sm:flex-row justify-center gap-10 items-center h-screen">
    <a href="suporte/gerenciamento/tickets">
        <div class="bg-green-300 font-bold rounded-xl w-56 h-36 sm:w-72 sm:h-72 cursor-pointer shadow-2xl hover:bg-green-400 duration-300 flex flex-col justify-around items-center">
            <h2 class="text-white text-sm sm:text-2xl">Tickets Listagem</h2>
            <img class="w-fit h-20 sm:h-36" src="img/support-ticket.png" alt="">
        </div>
    </a>
    <a href="suporte/gerenciamento/chat">
        <div class="bg-green-300 font-bold rounded-xl w-56 h-36 sm:w-72 sm:h-72 cursor-pointer shadow-2xl hover:bg-green-400 duration-300 flex flex-col justify-around items-center">
            <h2 class="text-white text-sm sm:text-2xl">Chat Online</h2>
            <img class="w-fit h-20 sm:h-36" src="img/chatSup.png" alt="">
        </div>
    </a>
    <a href="suporte/gerenciamento/ordens">
        <div class="bg-green-300 font-bold rounded-xl w-56 h-36 sm:w-72 sm:h-72 cursor-pointer shadow-2xl hover:bg-green-400 duration-300 flex flex-col justify-around items-center">
            <h2 class="text-white text-sm sm:text-2xl">Ordens de Serviço</h2>
            <img class="w-fit h-20 sm:h-36" src="img/search-engine.png" alt="">
        </div>
    </a>
</div>
</body>
</html>