<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
<div id="card">
    <img src="img/INVENTÁRIO-nobg.png" id="logo">
    {{#if errorMessage}}
        {{> errorCard}}
    {{/if}}
    <form action="/cadastrarUsuario" method="POST" class="loginForm">
        <h1>CADASTRO DE USUÁRIO</h1>
        <input type="text" id="username" name="username" class="input" placeholder="NOME DE USUÁRIO" >
        <input type="password" id="password" name="password" class="input" placeholder="SENHA" >
        <input type="password" id="confirm_password" name="confirm_password" class="input" placeholder="CONFIRMAR SENHA">
        <input type="text" id="company_email" name="company_email" class="input" placeholder="E-MAIL DA EMPRESA" >
        <input type="text" id="company_name" name="company_name" class="input" placeholder="NOME DA EMPRESA">
        <input type="text" id="cnpj" name="cnpj" class="input" placeholder="CNPJ" >
        <input type="text" id="address" name="address" class="input" placeholder="ENDEREÇO" >
        <input type="text" id="fullname" name="fullname" class="input" placeholder="NOME COMPLETO" >
        <br>
        <label for="roles">Selecione a Permissão:</label>
        </br>
        <select id="roles" name="roles">
            <option value="1">Gestor</option>
            <option value="2">Administrador</option>
            <option value="3">Supervisor</option>
            <option value="4">Comum</option>
        </select>
        </br>

        </br>


        <label for="profile_photo">Foto de Perfil (opcional):</label>
        <input type="file" id="profile_photo" name="profile_photo" accept="image/*">

        <button type="submit" class="botao">CADASTRAR</button>
    </form>
</div>
</body>
</html>