<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventário - Cadastrar Bem</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/cadastro.css">
    {{!--
    <link rel="stylesheet" href=""> --}}
    <script src="../public/js/cadastro.js"></script>
</head>

<body>
    <div class="aside-menu">
        <div class="logo">
            <a target="_blank" href="home.html">
                <img height="150px" width="150px" src="../img/logo-inventario.png">
            </a>
        </div>
        <hr class="line">
        <div class="nav">
            <ul>
                <li><a target="_blank" href="../login/index.html">PAINEL</a></li>
                <li><a>RELATÓRIOS</a></li>
                <li><a>CADASTRAR BEM</a></li>
                <li><a>CADASTRAR BEM</a></li>
                <li><a>ADMINISTRAÇÃO</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <h1></h1>
        <div class="card">
            <div  class="voltar">
                <a href="/home" class="voltar">↩ Voltar</a>
            </div>

            <form id="form">
                <div>
                    <br>
                    <div class="block">
                        <small></small>
                        <label for="tipo">Tipo</label>
                        <input name="tipo" type="text" id="tipo" placeholder="Ex. caneta, cadeira">
                    </div>

                    <div class="block">
                        <small>Preencha o campo Marca e Modelo</small>
                        <label for="modelo">Marca e Modelo</label>
                        <input name="modelo" type="text" id="modelo" placeholder="Marca e modelo do bem">
                    </div>

                    <div class="block">
                        <small></small>
                        <label for="codigo">Código</label>
                        <input name="codigo" type="number" id="codigo" placeholder="Ex. 00000001">
                    </div>
                </div>

                <div>
                    <br>
                    <div class="block">
                        <small></small>
                        <label for="fornecedor">Fornecedor</label>
                        <input name="fornecedor" type="text" placeholder="Razão Social do fornecedor" id="fornecedor">
                    </div>

                    <div class="block">
                        <small></small>
                        <label for="CNPJ">CNPJ</label>
                        <input name="CNPJ" type="number" placeholder="**.***.***/0001-**" id="CNPJ">
                    </div>
                </div>

                <div>
                    <br>
                    <div class="block">
                        <small></small>
                        <label for="data">Data de Aquisição</label>
                        <input name="data" type="date" id="data" placeholder="Definir Data">
                    </div>
                </div>

                <div>
                    <br>
                    <div class="desc">
                        <label>Descrição</label>
                        <textarea id="descricao" cols="30" rows="10"></textarea>
                    </div>
                </div>

                <button type="submit">Salvar</button>

            </form>
        </div>
    </div>

</body>

<script src="js/cadastro.js"></script>

</html>