<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <base href="/">
    <link rel="stylesheet" href="css/cadastroitem.css">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="shortcut icon" href="img/box.png" type="image/x-icon">

</head>
<body class="bg-gray-100 h-screen flex items-center justify-center">
{{#if errorMessage}}
    {{> errorCard}}
{{/if}}
<div class="max-w-sm mx-auto p-8 rounded-lg card">
    <h2 class="text-2xl font-semibold mb-4 text-center">CADASTRAR USUÁRIO</h2>
    <form action="/cadastrarUsuario" method="POST" class="loginForm">
        <div class="mb-4">
            <label for="username" class="block text-sm font-medium text-gray-700">Usuário</label>
            <input type="text" id="username" name="username"
                   class="mt-1 block w-full px-3 py-2 rounded-lg focus:outline-none text-gray-400">
        </div>
        <div class="mb-4">
            <label for="password" class="block text-sm font-medium text-gray-700 ">Senha</label>
            <input type="password" id="password" name="password"
                   class="mt-1 block w-full px-3 py-2 rounded-lg focus:outline-none text-gray-400">
        </div>
        <div class="mb-4">
            <label for="password" class="block text-sm font-medium text-gray-700 ">Confirmar Senha</label>
            <input type="password" id="confirm_password" name="confirm_password"
                   class="mt-1 block w-full px-3 py-2 rounded-lg focus:outline-none text-gray-400">
        </div>
        <div class="mb-4">
            <label for="cargo" class="block text-sm font-medium text-gray-700 ">Selecione a permissão:</label>
            <select class="block appearance-none w-full bg-white border border-gray-300 hover:border-gray-400 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
                    id="cargo" name="cargo">
                <option value="1">Gestor</option>
                <option value="2">Administrador</option>
                <option value="3">Supervisor</option>
                <option value="4">Comum</option>

            </select>
<!--            <label for="profile_photo">Foto de Perfil (opcional):</label>-->
<!--            <input type="file" id="profile_photo" name="profile_photo" accept="image/*">-->
            <div class="flex justify-center">
                <button type="submit" class="button-30 flex items-center justify-center">CADASTRAR</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>