<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Success</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
<div id="card">
    <h1>Password Reset Success</h1>
    {{#if successMessage}}
        <p class="success-message">{{successMessage}}</p>
    {{/if}}
    <div class="link">
        <a href="/login">Back to Login</a>
    </div>
</div>
</body>

</html>
