<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventário - Home</title>
  <base href="/">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="/inventario-app/src/nav/nav/nav.css">
  <link rel="stylesheet" href="css/home.css">
</head>

<body>
  <div class="aside-menu">
        <div class="logo">
            <a target="_blank" href="home.html">
                <img height="150px" width="150px" src="../img/logo-inventario.png">
            </a>
        </div>
        <hr class="line">
        <div class="nav">
            <ul>
                <li><a href="home">PAINEL</a></li>
                <li><a href="cadastrarBem">CADASTRAR BEM</a></li>
                <li><a href="listarBem">LISTAGEM DE BENS</a></li>

                <!-- a opção editar perfil ainda não funciona, passará
                a funcionar quando implementar a sessão do usuário logado -->
                <li><a href="">EDITAR PERFIL</a></li>

                <li><a href="login">SAIR</a></li>
            </ul>
        </div>
    </div>
  <div class="container">
    <div class="block">
      <h2>Itens no Inventário</h2>
      <h4>Quantidade não disponível</h4>
    </div>

    <div class="block">
      <h2>Itens Removidos</h2>
      <h4>Quantidade não disponível</h4>
    </div>

    <div class="card">
      <div class="subcard" onclick="indisponivel()">
        <img src="img/chat.png">
        <a>Entre em contato com nosso suporte</a>
      </div>

      <div class="subcard" onclick="indisponivel()">
        <img src="img/group.png">
        <a>Conheça nossos parceiros</a>
      </div>
    </div>
  </div>

</body>

<script src="js/home.js"></script>

</html>
