<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela inicial</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="css/home.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="javascripts/dashboard.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icons/6.11.0/css/flag-icons.min.css"
          integrity="sha512-ZQKxM5Z+PmOVa/VmISvHcqlUgzPejY92+I+sur69qiB7Vd+dAaDNMwy7AnRr6HcFbYY4so1FFPBgugE5s2jm7Q=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <style>
        .fixed-menu {
            position: sticky;
            top: 0;
            z-index: 1000; /* Defina um valor de z-index apropriado para a sobreposição */
            /* Outros estilos desejados, como largura, altura, cor de fundo, etc. */
        }
    </style>

</head>
<body class="bg-gray-100">
{{> nav}}

<div class="flex flex-wrap justify-center">
    <div class="max-w-xs mx-4 my-4 bg-gradient-to-r from-gray-300 to-gray-100 backdrop-blur-lg rounded-lg overflow-hidden caixa">
        <div class="px-6 py-4">
            <a href="/itens"><img src="img/caixa.png" class="w-full h-auto" alt="Imagem de Caixa"></a>
            <div class="font-bold text-xl mb-2 text-gray-500 text">Inventário</div>
        </div>
    </div>

    <div class="max-w-xs mx-4 my-4 bg-gradient-to-r from-gray-300 to-gray-100 rounded-lg  overflow-hidden fornecedor">
        <div class="px-6 py-4">
            <a href="/fornecedores"><img src="img/fornecedor.png" class="w-full h-auto" alt="Imagem de Fornecedor"></a>
            <div class="font-bold text-xl mb-2 text-gray-500 text">Fornecedor</div>
        </div>
    </div>

    <div class="max-w-xs mx-4 my-4 bg-gradient-to-r from-gray-300 to-gray-100 rounded-lg overflow-hidden perfil">
        <div class="px-6 py-4">
            <img src="img/perfil-de-usuario.png" class="w-full h-auto" alt="Imagem de Perfil de Usuário">
            <div class="font-bold text-xl mb-2 text-gray-500 text">Perfil de Usuário</div>
        </div>
    </div>

    <div class="max-w-xs mx-4 my-4 bg-gradient-to-r from-gray-300 to-gray-100 rounded-lg overflow-hidden relatorio">
        <div class="px-6 py-4">
            <img src="img/relatorio.png" class="w-full h-auto" alt="Imagem de Relatório">
            <div class="font-bold text-xl mb-2 text-gray-500 text">Relatório</div>
        </div>
    </div>
</div>

</body>
</html>







