<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/relatorioHome.css">
    <link rel="stylesheet" href="css/template.css">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

        <div class="aside-menu">
              <div class="logo">
                  <a target="_blank" href="home.html">
                      <img height="150px" width="150px" src="../img/logo-inventario.png">
                  </a>
              </div>
              <hr class="line">
              <div class="nav">
                  <ul>
                      <li><a href="home">PAINEL</a></li>
                      <li><a href="itens">LISTAGEM DE BENS</a></li>
                      <li><a href="fornecedores">FORNECEDORES</a></li>

                      <!-- a opção editar perfil ainda não funciona, passará
                      a funcionar quando implementar a sessão do usuário logado -->
                      <li><a href="">EDITAR PERFIL</a></li>

                      <li><a href="login">SAIR</a></li>
                  </ul>
              </div>
          </div>


        <section class="containercards">

            <div id="relatorio">
                <img alt="relatorio" src="./img/relatorio-de-negocios (1).png">
                <h2>Relatorio</h2>
            </div>
            <div id="card-container">
                <div id="card">
                </div>
                <div id="card1">
                    <div>
                        <img alt="card item 2" src="./img/itemcard2.png">
                        <p>36</p>
                        <p id="card_sabonete">Cadeira de Escritório</p>
                        <h4>Maior item
                            em Estoque</h4>
                    </div>
                </div>
                <div id="card">
                    <div>
                    <img alt="card item 2" src="./img/itemcard3.png">
                    <p>{{#if countItens}}{{countItens}}{{else}}0{{/if}}</p>
                    <h4>Total de itens
                        unicos no
                        estoque</h4>
                    </div>
                </div>
            </div>

        </section>
        <section class="container-grafico">
        </section>
</body>
</html>
