<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventário - Home</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/inventario-app/src/nav/nav/nav.css">
    <script src="/inventario-api/home.js"></script>
</head>

<body>
    <div class="aside-menu">
      <div class="logo">
        <a target="_blank" href="home.html">
          <img height="150px" width="150px" src="../img/logo-inventario.png">
        </a>
      </div>
      <hr class="line">
      <div class="nav">
        <ul>
          <li><a target="_blank" href="../login/index.html">PAINEL</a></li>
          <li><a>RELATÓRIOS</a></li>
          <li><a>CADASTRAR BEM</a></li>
          <li><a>CADASTRAR BEM</a></li>
          <li><a>ADMINISTRAÇÃO</a></li>
        </ul>
      </div>
    </div>

    <div class="home-content">

    </div>

</body>

</html>
