<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventário - Cadastrar Bem</title>
    <base href="/">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/cadastro.css">
    <link rel="stylesheet" href="css/listagem.css">
    <script src="js/cadastro.js"></script>
</head>

<body>
    <div class="aside-menu">
        <div class="logo">
            <a target="_blank" href="home.html">
                <img height="150px" width="150px" src="../img/logo-inventario.png">
            </a>
        </div>
        <hr class="line">
        <div class="nav">
            <ul>
                <li><a href="home">PAINEL</a></li>
                <li><a href="cadastrarBem">CADASTRAR BEM</a></li>
                <li><a href="listarBem">LISTAGEM DE BENS</a></li>
                <li><a href="login">PERFIL</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <h1></h1>
        <div class="card">
            <div  class="voltar">
                <a href="/home" class="voltar">↩ Voltar</a>
            </div>

            <div class="listagem">
              <h2 style="color:black">LISTAGEM DE BENS</h2>
              <div class="table-wrapper">
                  <table class="fl-table">
                      <thead>
                      <tr>
                          <th>CNPJ</th>
                          <th>TIPO</th>
                          <th>MODELO</th>
                          <th>CODIGO</th>
                          <th>FORNECEDOR</th>
                          <th>DATA</th>
                          <th>DESCRICAO</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                          <td>02.188.848/0001-11</td>
                          <td>Medicamento</td>
                          <td>Pílulas</td>
                          <td>302</td>
                          <td>PoliMeds</td>
                          <td>20/10/2022</td>
                          <td>Pilulas para emagrecimento</td>
                      </tr>
                      <tr>
                          <td>02.188.848/0001-11</td>
                          <td>Medicamento</td>
                          <td>Pílulas</td>
                          <td>302</td>
                          <td>PoliMeds</td>
                          <td>20/10/2022</td>
                          <td>Pilulas para emagrecimento</td>
                      </tr>
                      <tr>
                          <td>02.188.848/0001-11</td>
                          <td>Medicamento</td>
                          <td>Pílulas</td>
                          <td>302</td>
                          <td>PoliMeds</td>
                          <td>20/10/2022</td>
                          <td>Pilulas para emagrecimento</td>
                      </tr>
                      <tr>
                          <td>02.188.848/0001-11</td>
                          <td>Medicamento</td>
                          <td>Pílulas</td>
                          <td>302</td>
                          <td>PoliMeds</td>
                          <td>20/10/2022</td>
                          <td>Pilulas para emagrecimento</td>
                      </tr>
                      <tr>
                          <td>02.188.848/0001-11</td>
                          <td>Medicamento</td>
                          <td>Pílulas</td>
                          <td>302</td>
                          <td>PoliMeds</td>
                          <td>20/10/2022</td>
                          <td>Pilulas para emagrecimento</td>
                      </tr>
                      <tr>
                          <td>02.188.848/0001-11</td>
                          <td>Medicamento</td>
                          <td>Pílulas</td>
                          <td>302</td>
                          <td>PoliMeds</td>
                          <td>20/10/2022</td>
                          <td>Pilulas para emagrecimento</td>
                      </tr>
                      <tr>
                          <td>02.188.848/0001-11</td>
                          <td>Medicamento</td>
                          <td>Pílulas</td>
                          <td>302</td>
                          <td>PoliMeds</td>
                          <td>20/10/2022</td>
                          <td>Pilulas para emagrecimento</td>
                      </tr>
                      <tbody>
                  </table>
              </div>
            </div>
        </div>
    </div>

</body>

<script src="js/cadastro.js"></script>

</html>
