<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Inventário de Bens - Login</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/login.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <meta name="theme-color" content="#fafafa">
</head>
<body>
<div class="logo"><img src="img/lock.png"></div>
<form action="/auth/login" method="POST" class="loginForm content">
  <h1>Entrar como Administrador</h1>
  <div class="input-group">
      <span>
          <i class="material-icons">account_circle</i>
      </span>
    <input type="text" id="username" name="username" class="input" placeholder="Digite o usuário do sistema">
  </div>
  <div class="input-group">
      <span>
          <i class="material-icons">vpn_key</i>
      </span>
    <input type="password" id="password" name="password" class="input" placeholder="Digite a senha">
  </div>
  <button type="submit" class="botao">Entrar</button>
</form>
</body>

</html>
