<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itens</title>
    <base href="/">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="css/listagem.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icons/6.11.0/css/flag-icons.min.css" integrity="sha512-ZQKxM5Z+PmOVa/VmISvHcqlUgzPejY92+I+sur69qiB7Vd+dAaDNMwy7AnRr6HcFbYY4so1FFPBgugE5s2jm7Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/tailadmin@2.0.0/dist/tailadmin.min.css" rel="stylesheet">
    <style>
        .fixed-menu {
            position: sticky;
            top: 0;
            z-index: 1000;
        }
    </style>
</head>
<body class="bg-gray-100">
{{> nav}}
<div class="flex flex-col justify-center items-center top_site">
    <div class="max-w-screen-lg w-full p-4">
        <div class="bg-white shadow-md rounded-lg overflow-hidden">
            <div class="bg-blue-500 text-white text-center py-4">
                <h2 class="text-xl font-semibold">Aplicar Filtro de Relatório</h2>
            </div>
            <div class="p-6">
                <form id="filterForm">
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="category">Escolher relatorio</label>
                        <select id="tipo-relatorio" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            <option value="0" selected>Selecione uma opção...</option>
                            <option value="pat">Patrimônio</option>
                            <option value="forn">Fornecedor</option>
                            <option value="loc">Localização</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <table class="flex flex-col justify-center items-center top_site">
        <thead class="max-w-screen-lg w-full p-4">
        <tr class="hidden sm:flex">
            <th class="w-full py-3 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Tipo
            </th>
            <th class="w-full py-3 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Responsável
            </th>
            <th class="w-full py-3 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Data
            </th>
            <th class="w-full py-3 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Ações
            </th>
        </tr>
        </thead>
        <tbody class="max-w-screen-lg w-full p-4">
        <tr class="flex flex-col w-full sm:flex-row">
            <td class="w-full px-6 py-4 whitespace-no-wrap sm:text-center align-middle">Tipo</td>
            <td class="w-full px-6 py-4 whitespace-no-wrap sm:text-center align-middle">Responsável</td>
            <td class="w-full px-6 py-4 whitespace-no-wrap sm:text-center align-middle">Data</td>
            <td class="w-full px-6 py-4 whitespace-no-wrap sm:text-center align-middle">
                <a><ion-icon name="download-outline"></ion-icon></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="js/relatorios.js"></script>
</body>
</html>
