<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <base href="/">
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
<div id="card">
    <h1>Reset Password</h1>
    {{#if errorMessage}}
        {{> errorCard}}
    {{/if}}
    <form action="/reset-password/{{token}}" method="POST" class="resetPasswordForm">
        <input type="password" id="newPassword" name="newPassword" class="input" placeholder="New Password">
        <button type="submit" class="botao">Reset Password</button>
    </form>
    <div class="link">
        <a href="/login">Back to Login</a>
    </div>
</div>
</body>

</html>
