@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

:root {
    --blue-cor-padrao: #476DF4;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: rgb(221, 221, 221)
}

.aside-menu {
    width: 270px;
    height: 100%;
    position: fixed;
    background-color: var(--blue-cor-padrao);
    text-align: center;
}

.aside-menu .logo {
    padding: 40px;
    cursor: pointer;
}

.aside-menu .line {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    padding: 1px;
    border: none;
}

.aside-menu .nav ul {
    flex-direction: column;
    padding: 10px;
    list-style: none;
}

.aside-menu .nav ul li {
    padding: 0;
    cursor: pointer;
    transition: all .3s ease-out;

}

.aside-menu .nav ul li:hover {
    background-color: #0d50b5;
    margin: 0px 10px;
}

.aside-menu .nav ul li a {
    color: white;
    display: block;
    padding: 20px 0;
}

.main-content {
    margin-left: 270px;
    padding: 20px;
}

#logoSuporte {
    position: absolute;
    width: 100px;
    left: 90%;
    opacity: 0.5;
}

#logoSuporte:hover {
    opacity: 1.0;
    cursor: pointer;
}
