/* Search Box Styles */
.painel-selecao{
    text-align: center;
    width: 80%;
}

.painel-search-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

#userSearch {
    padding: 8px;
    font-size: 14px;
    width: 100%;
}
