/* Search Box Styles */
.painel-search-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

#userSearch {
    padding: 8px;
    font-size: 14px;
    width: 100%;
}
