* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

/* .container {
  margin-left: 270px;
  text-align: center;
  height: 100vh;
} */

table {
    width: 100%;
    border-radius: 5px;
    font-weight: normal;
    border: none;
    /*border-collapse: collapse;
    */
    width: 100%;
    /*white-space: wrap;
    */
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

table thead {
    background-color: #476DF4;
}

table td {
    background: #4793E3;
}

table thead th {
    padding: 8px;
    color: #ffffff;
}

table td {
    padding: 1px;
    color: #ffffff;
}

.icones {
    width: 100%;
    border-radius: 5px;
    font-weight: normal;
    width: 100%;
    background-color: #4793E3;
    padding: none;
    margin: 0;
}

.icones img {
    opacity: 0.5;
    transition: opacity .4s;
    -webkit-transition: opacity .4s;
    -moz-transition: opacity .4s;
    -ms-transition: opacity .4s;
    -o-transition: opacity .4s;
}

.icones img:hover {
    opacity: 1;
}

.button {
    /* background-color: #47e3a2; */
    border: none;
    width: 100%;
}