@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

body {
    background: linear-gradient(108.78deg, #4793E3 0.4%, #8FC6FF 100%);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

#card {
    padding-top: 100px;
    padding-bottom: 100px;
    margin: auto;
    margin-top: 100px;
    width: 60%;
    height: 60%;
    background-color: white;
    border-radius: 10px;
}

#logo {
    width: 200px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.loginForm {
    display: inline-block;
    text-align: center;
    width: 50%;
}

.botao {
    width: 70%;
    height: 40px;
    background: #4793E3;
    border-radius: 20px;
    border: none;
    color: white;
    margin-top: 7px;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.botao:hover {
    background: #2a64a3;
}

.input {
    text-align: center;
    width: 70%;
    height: 40px;
    background: #C8C8C8;
    border-radius: 20px;
    border: none;
    color: rgb(0, 0, 0);
    opacity: 60%;
    font-size: 15px;
    margin-bottom: 7px;
    margin-top: 7px;
    font-weight: bold;
}

h1 {
    font-weight: bold;
}

.link {
    padding-top: 20px;
}

.link a {
    text-decoration: none;
    color: #152435;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.link a:hover {
    color: rgb(7, 36, 66);
    font-size: large;
    font-weight: bolder;
}