@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


  .shine {
    position: relative;
    overflow: hidden;
}

.shine::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.1);
    transform: rotate(45deg);
    transition: opacity 0.5s ease-out;
    z-index: 2;
}

.shine:hover::before {
    opacity: 0;
}

.card{
  background: rgba(255, 255, 255, 0.8);     
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;  backdrop-filter: blur(10px); /* Efeito de desfoque */

  backdrop-filter: blur(10px); /* Efeito de desfoque */
} 
input{

  border: 1px solid #d9e3ed;
  background-color: #f7f7f7;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.register_text{
  color: #019dc4;
}

.button_login{
  background-color: #019dc4cc;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;  backdrop-filter: blur(10px); /* Efeito de desfoque */
  border-bottom: 2px solid rgb(18, 186, 192);
  ;
}

.button_login:hover{
  transition: 0.8s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;}