.aside-menu {
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra à direita */
}

.aside-menu {
    width: 270px;
    height: 100%;
    position: fixed;
    background-color: #f5f6fa;
    text-align: center;
    border-right: 1px solid #d4d4d4; /* Borda direita para separar do conteúdo principal */
}

.aside-menu .logo {
    padding: 40px;
    cursor: pointer;
}

.aside-menu .line {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    padding: 1px;
    border: none;
}

.aside-menu .nav ul {
    flex-direction: column;

    list-style: none;
}

.aside-menu .nav ul li {
    padding: 0;
    cursor: pointer;
    transition: all 0.3s ease-out;

}

.aside-menu .nav ul li:hover {
    background-color: #E2E8F0;

}

.aside-menu .nav ul li a {
    color: #718096;
    display: block;
    padding: 20px 0;
    transition: 0.3s;

}
.aside-menu .nav ul li a:hover {
    color: #718096;
    display: block;
    padding: 20px 0;
    color:#00ccff;
}

#logoSuporte {
    position: absolute;
    width: 100px;
    left: 90%;
    opacity: 0.5;
}

#logoSuporte:hover {
    opacity: 1.0;
    cursor: pointer;
}
.container {
    justify-content: center;
}