@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

:root {
    --blue-cor-padrao: #476DF4;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 158, 250, 0.6));
}

.aside-menu {
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra à direita */
  }

.aside-menu {
    width: 270px;
    height: 100%;
    position: fixed;
    background-color: #f5f6fa;
    text-align: center;
    border-right: 1px solid #d4d4d4; /* Borda direita para separar do conteúdo principal */
}

.aside-menu .logo {
    padding: 40px;
    cursor: pointer;
}

.aside-menu .line {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    padding: 1px;
    border: none;
}

.aside-menu .nav ul {
    flex-direction: column;
    
    list-style: none;
}

.aside-menu .nav ul li {
    padding: 0;
    cursor: pointer;
    transition: all 0.3s ease-out;

}

.aside-menu .nav ul li:hover {
    background-color: #E2E8F0;
 
}

.aside-menu .nav ul li a {
    color: #718096;
    display: block;
    padding: 20px 0;
    transition: 0.3s;

}
.aside-menu .nav ul li a:hover {
    color: #718096;
    display: block;
    padding: 20px 0;
    color:#00ccff;
}

.container {
    margin-left: 270px;
    text-align: center;
    height: 100vh;
}

.card {
    opacity: 0.8;
  
    border-top: 25px rgba(71, 109, 244, 0.7) solid;
    text-align: center;
    width: 80%;
    box-shadow: 2px 2px 2px 2px rgba(134, 134, 134, 0.7);
    border-radius: 10px 10px 0px 0px;
    margin: auto;
    padding: 40px;
    backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid #727272;

}

.voltar {
    text-align: left;
    color: rgb(71, 109, 244);
    font-size: 1.1rem;
}

h1 {
    margin: auto;
    padding: 10px;
    color: rgb(71, 109, 244);
}

button {
    background: rgb(71, 109, 244);
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    width: 100%;
    -webkit-box-shadow: inset 0 -4px 0 0 rgb(102 102 102 / 30%);
    box-shadow: inset 0 -4px 0 0 rgb(102 102 102 / 30%);
    border-radius: 5px;
    border: none;
    padding: 13px 0;
    margin-top: 20px;
    margin-bottom: 4px;
    cursor: pointer;
}

button:hover {
    transition: .3s;
    background: #004068;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

#logoSuporte {
    position: absolute;
    width: 100px;
    left: 90%;
    opacity: 0.5;
}

#logoSuporte:hover {
    opacity: 1.0;
    cursor: pointer;
}