<!DOCTYPE html>
<html class="overflow-x-hidden" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patrimônios</title>
    <base href="/">
    <link rel="stylesheet" href="css/listagem.css">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="shortcut icon" href="img/box.png" type="image/x-icon">

</head>
<body class="bg-gray-100">
{{> nav}}
<div class="mt-28 sm:mt-44 sm:ml-64 mx-auto w-fit">
    <div class="flex flex-col justify-center items-center">
        <div class="flex justify-end bg-gray-50 add_button">
            <button class="font-bold py-2 px-4 rounded"><a href="/cadastrarPatrimonio">Adicionar Item</a></button>
        </div>
        <div class="w-5/6">
            <h1 class="bg-gray-50 py-2 px-4 rounded-t-lg text-center uppercase">Listagem de Patrimonio</h1>
            <table class="w-full">
                <thead class="">
                <tr class="hidden sm:flex">
                    <th class="w-full py-3 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Nome
                    </th>
                    <th class="w-full py-3 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Data de Aquisição
                    </th>
                    <th class="w-full py-3 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Fornecedor
                    </th>
                    <th class="w-full py-3 bg-gray-50 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Modificação
                    </th>
                    <!--                        <th class="w-full pl-9 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">-->
                    <!--                            Ações-->
                    <!--                        </th>-->
                </tr>
                </thead>
                <tbody class="bg-white divide-gray-200">
                {{#each patrimonio}}
                    <tr class="flex flex-col w-full sm:flex-row">
                        <td class="w-full px-6 py-4 whitespace-no-wrap sm:text-center align-middle">{{pat_nome}}</td>
                        <td class="w-full px-6 py-4 whitespace-no-wrap sm:text-center align-middle">{{#formatDate
                                pat_data_aquisicao}}{{/formatDate}}</td>
                        <td class="w-full px-6 py-4 whitespace-no-wrap sm:text-center align-middle">{{fornecedor.for_nome}}</td>
                        <td class="w-full px-6 py-4 whitespace-no-wrap sm:text-center align-middle">{{#formatDateHour
                                updatedAt}}{{/formatDateHour}}</td>
                        <!--                        <td class="w-full px-6 py-4 whitespace-no-wrap text-center align-middle">-->
                        <!--                            <table class="mx-auto sm:m-0">-->
                        <!--                                <tr class="">-->
                        <!--                                    <td class="flex w-full">-->
                        <!--                                        <a href="/editarPatrimonio/{{pat_id}}"-->
                        <!--                                           class="px-2">-->
                        <!--                                            <img height="25px" width="25px" src="../img/edit.png">-->
                        <!--                                        </a>-->
                        <!--                                        <a id="deletar" href="/deletarPatrimonio/{{pat_id}}"-->
                        <!--                                           onclick="removerPatrimonio()"-->
                        <!--                                           class="">-->
                        <!--                                            <img height="25px" width="25px" src="../img/delete.png">-->
                        <!--                                        </a>-->
                        <!--                                    </td>-->
                        <!--                                </tr>-->
                        <!--                            </table>-->
                        <!--                        </td>-->
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/patrimonio.js"></script>
</html>