@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
    .ml-230 {
        margin-left: 230px;
    }
    .w-1000 {
        width: 1000px;
    }
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.swal-wide{
    width:850px !important;
}
*{
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
body{
    background-color: #f1f5f9;
}
.content__bar .sidebar{
    background-color: rgb(5, 68, 104);
    position: fixed;
    top: 0;
    left: 0 ;
    width: 225px;
    height: 100%;
    padding: 20px;
    transition: all 0.5s ease;
}
nav ul li a {
    transition: 0.3s;
}
nav ul li a:hover {
    color:#00ccff;
}
.pesquisa{

    width: 100%;
    color: rgb(36, 35, 42);
    font-size: 16px;
    line-height: 20px;
    min-height: 28px;
    border-radius: 15px;
    padding: 8px 16px;
    border: 2px solid transparent;
    box-shadow: rgb(0 0 0 / 12%) 0px 3px 15px, rgb(0 0 0 / 24%) 0px 1px 2px;
    background: rgb(251, 251, 251);
    transition: all 0.1s ease 0s;
}
.pesquisa:focus{

    outline:  2px solid rgb(124, 138, 255);
}
#flag-br{
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

/* Estilo para o menu lateral */
aside {

    top: 0;
    left: 0;
    height: 100%; /* Ocupa toda a altura da tela */
    width: 64px; /* Largura do menu lateral */
    background-color: #fff; /* Cor de fundo do menu lateral */
    border-right: 1px solid #ccc; /* Borda direita para separar do conteúdo principal */
    z-index: 1000; /* Certifique-se de que o menu fique acima de outros elementos */
}

/* Ajuste o estilo do conteúdo principal para acomodar o menu fixo */
main {
    margin-left: 64px; /* Largura do menu lateral */
    padding-top: 20px; /* Espaçamento superior para evitar que o conteúdo seja sobreposto pelo menu */

}

.box__style, ion-icon h1{

}
.cubo{
    color: #00ccff;
}
.menu__navbar{
    color: rgb(0, 0, 0);
}
.menu__navbar:hover{
    transition: 0.3s;
    color: #00ccff;

}
.title__navbar{
    margin-top: 60px;
    margin-bottom: 50px;

}
nav, li{
    margin-top: 50px;
}
.nome{
    color: black;
}
.nome:hover{
    transition: 0.3s;
    color: #00ccff;

}

.glass-card {
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.5)); /* Gradiente semi-transparente */
    backdrop-filter: blur(10px); /* Desfoque */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: background-image 0.3s ease-in-out; /* Transição suave */
}
.glass-card:hover {
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7)); /* Altera o gradiente ao passar o mouse */
}

.caixa{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: 1px solid white;

    cursor: pointer;
}
.caixa:hover{
    transition: 1s;

    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 2px solid white;


}
.caixa:hover .text{
    transition: 1s;
    color: white;
}



.fornecedor{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: solid 1px rgb(214, 214, 214);
    border: 1px solid white;

    cursor: pointer;

}

.fornecedor:hover{
    transition: 1s;
    border: 2px solid white;
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;



}
.fornecedor:hover .text{
    transition: 1s;
    color: white;

}

.perfil{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: solid 1px rgb(214, 214, 214);
    border: 1px solid white;


    cursor: pointer;

}

.perfil:hover{
    transition: 1s;
    border: 2px solid white;
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;



}
.perfil:hover .text{
    transition: 1s;
    color: white;
}


.relatorio{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    border: 1px solid white;

    cursor: pointer;

}
.relatorio:hover{
    transition: 1s;
    border: 2px solid white;
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;



}
.relatorio:hover .text{
    transition: 1s;
    color: white;
}


.tabela{
    box-shadow: rgba(167, 1, 1, 0.5) 0px 54px 55px, rgba(92, 0, 0, 0.38) 0px -12px 30px, rgba(107, 0, 0, 0.38) 0px 4px 6px, rgba(94, 0, 0, 0.38) 0px 12px 13px, rgba(104, 1, 1, 0.38) 0px -3px 5px;
}