@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

:root{
  --blue-cor-padrao: #476DF4;
}

*{
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  background-color:rgb(221, 221, 221)
}

.aside-menu{
  width: 270px;
  height: 100%;
  position: fixed;
  background-color: var(--blue-cor-padrao);
  text-align: center;
}

.aside-menu .logo{
  padding: 40px;
  cursor: pointer;
}

.aside-menu .line{
  background-color: white;
  width: 70%;
  margin: 0 auto;
  padding: 1px;
  border: none;
}

.aside-menu .nav ul{
  flex-direction: column;
  padding: 10px;
  list-style: none;
}

.aside-menu .nav ul li{
  padding: 0;
  cursor: pointer;
  transition: all .3s ease-out;

}

.aside-menu .nav ul li:hover{
  background-color: #0d50b5;
  margin: 0px 10px;
}

.aside-menu .nav ul li a{
  color: white;
  display: block;
  padding: 20px 0;
}

.container {
  margin-left: 270px;
  text-align: center;
  height: 100vh;
}

.card {
  background-color: #fff;
  border-top: 25px rgb(71, 109, 244) solid;
  text-align: center;
  width: 80%;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.2);
  border-radius: 10px 10px 0px 0px;
  margin: auto;
  padding: 40px;
}

.voltar {
  text-align: left;
  color: rgb(71, 109, 244);
  font-size: 1.1rem;
}

h1 {
  margin: auto;
  padding: 10px;
  color: rgb(71, 109, 244);
}

button {
  background: rgb(71, 109, 244);
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-shadow: inset 0 -4px 0 0 rgb(102 102 102 / 30%);
  box-shadow: inset 0 -4px 0 0 rgb(102 102 102 / 30%);
  border-radius: 5px;
  border: none;
  padding: 13px 0;
  margin-top: 20px;
  margin-bottom: 4px;
  cursor: pointer;
}

button:hover {
  transition: .3s;
  background: #004068;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}